<html>
    <head>
        <title>{% block zetawebmail_title %}Webmail{% endblock %}</title>
        <link href="{{ asset("bundles/simplethingszetawebmail/css/zetamailbrowser.css") }}" type="text/css" rel="stylesheet" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>


    <body>
        <h2>{% block zetawebmail_mailbox_name "" %}</h2>

        {% block zetawebmail_list %}{% endblock %}
    </body>
</html>