table.zetaMailHeaderBox {
    width: 100%;
    border: 1px solid #000;
    background-color: #f6f6f6;
    margin-bottom: 10px;
}
table.zetaMailHeaderBox td {
    font-size: 9pt; font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}
#zetaPrivacyNotice {
    background-color: #FFF6BF;
    border: 2px solid #FFD324;
    color: #514721;
    padding: 5px;
    font-size: 9pt;
    margin-bottom: 8px;
}
#zetaPrivacyNotice img {
    vertical-align: text-bottom;
}
pre {
  white-space: pre-wrap; 
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap; 
  white-space: -o-pre-wrap; 
  word-wrap: break-word; 
}